/* generals */
/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    border: 1px solid red;
} 

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

li {
    padding: 5px;
}
body {
    font-family: 'whitney', 'helvetica neue', Arial, Helvetica, sans-serif;
    background-color: white;
    color:black;
    font-size: 15px;
}

a {
    color: white;
}

/* flex utilitiy */
.d-flex {
    display: flex;
}

.between-cont{
    justify-content: space-between;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 10px;
}

.align-items {
    align-items: center;
}

.row {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}
.col {
    width: calc((100% - 10px) / 3);
    position: relative;
}

.col img {
    width: 100%;
    display: block;
}

 
/* Header */
header {
    background-color: #FC6900;
    width: 100%;
}

header img {
    width: 120px;
    height: 30px;
}



/* Main */
.discount {
    position: absolute;
    top: 90%;
    left: 10px;
}

/* Footer */


.center {
    justify-content: center;
    align-items: center;
}

/* position utility */